@import '../variables.scss';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;

    @media (max-width: 780px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__cart {
    margin-left: auto;

    @media (max-width: 780px) {
      margin: auto;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    @media (max-width: 780px) {
      margin: 0 15px 0 auto;
      justify-content: center;
    }

    img {
      margin-right: 15px;
    }

    h1 {
      color: $accent;
      font-family: Pacifico;
      font-size: 32px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 900;
    }

    p {
      color: #7b7b7b;
      font-size: 12.5px;
    }
  }
}
